<Marquee style="font-size: 20px; color: rgb(193, 68, 191); position: absolute ;">Welcome To Home Loan Portal...!!!!
</Marquee>
<div class="cust">

  <h1 class="heading5"> Calculate Your Home Home Eligibility</h1>
  <a href="eligibility" target="_blank" class="l1">Calculate</a>
  <div class="ab">
    <h1 class="heading5"> Track Your Loan Apllication</h1>
    <a href="trackapplication" class="l1">Track</a>
  </div>
  <div class="ac">
    <h1 class="heading5"> Calculate EMI</h1>
    <a href="trackapplication" class="l1">EMI</a>
  </div>
</div>




<app-customer-sidebar></app-customer-sidebar>
