<div [hidden]="submitted" style="width: 400px;">
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Application ID</label>
        <input type="number" class="form-control" id="applicationid" required [(ngModel)]="applicationid"
            name="applicationid">
    </div><br><br>
    <div class="form-group">
        <label for="name">Customer Id</label>
        <input type="number" class="form-control" id="id" required [(ngModel)]="id" name="id">
    </div><br><br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

<div [hidden]="!submitted">
</div><br><br>

<h2>Application Tracker Details</h2>
<p></p>
<div>
    <div>
        <label>
            <b> status : </b>
        </label> {{tracker.status}}
    </div>
    <div>
        <label>
            <b> Land Verification Officer Approvel : </b>
        </label> {{tracker.landApproval}}
    </div>
    <div>
        <label>
            <b> Finance Verification Officer Approvel : </b>
        </label> {{tracker.financeApproval}}
    </div>
    <div>
        <label>
            <b> Admin Approvel : </b>
        </label> {{tracker.adminApproval}}
    </div>
</div>