<div class="ab">
    


    <div *ngIf="customer">
        
        <div>
            <label><b>First Name: </b></label> {{customer.name}}
        </div>
        <div>
            <label><b>mobileNumber: </b></label> {{customer.mobileNumber}}
        </div>
        <div>
            <label><b>Email Id: </b></label> {{customer.emaild}}
        </div>

        <div>
            <label><b> DOB</b></label> {{customer.dob}}
        </div>
        <div>
            <label><b>Gender </b></label> {{customer.gender}}
        </div>

        <div>
            <label><b>Nationality </b></label> {{customer.nationality}}
        </div>
        <div>
            <label><b> Aadhar Number</b></label> {{customer.aadharNumber}}
        </div>
        <div>
            <label><b>Pan </b></label> {{customer.pan}}
        </div>
        <div>
            <button onclick="history.back()">Go Back</button>
        </div>
        <p></p>
        
        
    </div>
</div>